%div{'ng-controller' => 'firstController'}

  %h1 {{text.heading}}

  %input{:type => 'text', "ng-model" => 'display.message', :placeholder => 'type here and see what happens'}
  %h2{:class => '{{display.message}}'}
    {{display.message}}

  %p= lorem.paragraph

  = image_tag lorem.image('100x100'), :class => 'logo'
